*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, legend, button {
    font-family:'Staatliches', sans-serif;
}
p  {
    font-family: 'Poppins", sans-serif';
}
    

.input-wrapper label {
    font-family: 'Poppins", sans-serif';
    font-weight: 400;
    font-style: normal;
    
}

body{
    background: #E5E5E5;
}

body::before{
    content: "";
    width: 100%;
    height: 436px;
    position: absolute;
    z-index: -1;
    background: #535971;
    top: 0;
    left: 0;

}

.page{
    width: 750px;
    margin:auto;
}
header{
    margin-top: 140px;
  
}
header h1{
    font: 48px;
    line-height: auto;
    color: #FFFF;
    margin-bottom: 18px;
}
header p{
    font-size: 20px;
    color:#FFFFFF;
    line-height: auto;
    margin-bottom: 58px;
}

form {
background: #FFFFFF;
display: flex;
flex-direction: column;
gap: 30px;
padding: 64px;
min-height: 300px;
border-radius: 8px 8px 0 0;
}

fieldset{
    border:none;
}
.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap:19px
}
fieldset legend {
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    border-bottom: 1px solid #E6E6F0;
    margin-bottom: 36px;
    color: #535971;
    padding: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
  }

.input-wrapper label{
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    font-family:  'Poppins", sans-serif';
    margin-bottom: 8px;
}

.input-wrapper label span{
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}
.input-wrapper label span:hover {
    color: #6c6a71;
  }

.input-wrapper input {
    background:#FAFAFC;
    width: 100%;
    height: 58px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
}

.col-2{
    display: flex;
   
    gap: 22px;


}

.col-2 > div:nth-child(1) {
    width: 100%;
    
  }

.col-2 > div:nth-child(2) {
    width: 100%;
    
  }
  
.col-3 legend{
    font-size: 20px;
    line-height: 34px;
    border: none;
  
}

.col-3 {
 
    gap:32px;
   
 display: flex;
 align-items: flex-end;
}
.col-3 > div:nth-child(1) {
 width: 100%;
    
  }

footer{
    height: 160px;
    background: #535971;
    border-radius: 0 0 8px 8px;
 
    padding: 52px 61px;
    margin-bottom: 366px;
   
    
}
footer button{
   width: 608px;
   height: 55px;
   color:white;
   background: #FF5374;
   border-radius: 20px;
   font-size: 20px;
   line-height: 26px;
   font-family: 'Staatliches', sans-serif;
   border: none;
}
input:invalid{
    border: 1px solid red;
}